<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>The best teachers at your fingertips</h2>
          <p class="text-muted">The best explanations, suited to your learning style</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="/assets/new_age/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="fa fa-user-circle-o text-primary"></i>
                  <h3>Select a Style</h3>
                  <p class="text-muted">Select the learning style that best suits you</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="fa fa-mobile text-primary"></i>
                  <h3>Ask a Question</h3>
                  <p class="text-muted">Snap a picture or a take a short video of a question you have</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="fa fa-lightbulb-o text-primary"></i>
                  <h3>Get Clarification</h3>
                  <p class="text-muted">A great teacher responds with an answer fitted to your learning style</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature-item">
                  <i class="fa fa-graduation-cap text-primary"></i>
                  <h3>Get Better Grades</h3>
                  <p class="text-muted">Better clarity, means better grades, accomplished goals</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
